[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Résultat de recherche d'images pour "icon calculatrice" 512 × 512 - icone-png.com 
Type=Link
URL=http://www.google.ch/imgres?imgurl=http://www.icone-png.com/png/15/15425.png&imgrefurl=http://www.icone-png.com/etude/calculatrice/3.php&h=512&w=512&tbnid=EqKwH1DMs0lAOM:&docid=B9O12Nyc1Wu6_M&ei=gL80VuyeKIn6aquhrfAB&tbm=isch&client=ubuntu&ved=0CFAQMygpMClqFQoTCOze4_jl7MgCFQm9Ggodq1ALHg
Icon=text-html
